html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    /* border: 2px solid red; */
    width: 80%;
    margin: 0 auto; 
}
header {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
}
.rightheader {
    flex-basis: 60%;
    margin-top: 3rem;
}
.rightheader h1 {
    margin: 0;
    padding: 0;
    color: #DA0090;
    font-size: 3rem;
}
.rightheader p {
    padding: 0;
    margin: 0;
}
.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding-right: 0.5rem;
}
nav {
   border-top: 1px solid #DA0090;
   border-bottom: 1px solid #a61f11; 
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    padding: 0.5rem 1rem;
    color: #DA0090;
    text-decoration: none;
}
nav a:hover {
    background-color: black;
    color: #84de37;
    text-decoration: none;
}
section {
    border-bottom: 1px solid #DA0090;
    margin-bottom: 0.3rem;
}
/* article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
} */
article {
    margin: 2rem 0;
    /* border: 3px solid blue; */
}
article img {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 1rem;
}
article:after {
    content: "";
    display: table;
    clear: both;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 1.3rem;
    color: #A51F10;
    margin: 0;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #a61f11;
}
footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer a {
    margin-left: 0.5rem;
}
