/* My css */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}

h1 {
    font-size: 3rem;
    text-align: center;
    border: 0.8rem dotted red;
    background-color: #ddd;
}

p {
    font-size: 1.3rem;
}

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
}

img {
    border: 10px solid green;
}

/* ul li {
    list-style: lower-roman;
} */

ul li a {
    text-decoration: none;
}

div {
    border: 5px blue solid;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.box1{
    border-color: orange;
    width: 60%;
}

.box3 {
    background-image: url(https://placekitten.com/200/300);
    height: 15rem; /* Do not use height in your web psges for flexibility */
}

nav {
    border: 3px solid red;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    width: 8rem;
    border: 3px solid yellow;
    background-color: red;
    text-align: center;
    margin-bottom: 0.7rem;
}

nav ul li a {
    display: block;
    font-size: 1.5rem;
    color: white;
    padding: 0.3rem;
}

nav ul li a:hover {
    background-color: white;
    color: red;
}

.floatleft {
    float: left;
    margin-right: 1rem;
}

.floatright {
    float: right;
    margin-top: 1.5rem;
}

article {
    width: 60%;
    margin: 0 auto;
    border: 2px solid red;
}

article:after {
    content: "";
    display: table;
    clear: both;
}